<footer>
    <div>
        <a href="#">
            <img src="assets/img/logo_footer.svg" />
        </a>
        <small>© Copyright 2016, Skillsolutions Software</small>
    </div>
    <div class="row1">
        <div>
            Bureaux:<br/> Skillsolutions Software<br/> 3 Rue Geoffroy-Marie<br/> 75009 Paris<br/> France
        </div>
        <div>
            Siège Social:<br/> Skillsolutions Software<br/> 141 rue de Paris<br/> 92100 Boulogne Billancourt<br/> France
        </div>
    </div>
    <div class="row2">
        <div>
            Président: Mr Stéphane Ngo<br/> Directeurs de la publication: Mr Stéphane Ngo, Philippe Lafon<br/><br/> Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en vous adressant à l'adresse suivante partners@blacksmith.studio ou à l'adresse suivante:<br/><br/> Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.
        </div>
    </div>
</footer>
