<header>
    <div class="center-col">
        <nav>
            <img src="/assets/img/logo_header.png" alt="logo">
            <div id="burger">
                <span></span>
            </div>
            <ul>
                <li>
                    <a href="">ACCUEIL</a>
                </li>
                <li>
                    <a href="">A PROPOS DE NOUS</a>
                </li>
                <li>
                    <a href="">NOTRE EQUIPE</a>
                </li>
                <li>
                    <a href="">RECOMMANDATIONS</a>
                </li>
                <li>
                    <a href="">NOS APPLICATIONS</a>
                </li>
                <li>
                    <a href="">CONTACT</a>
                </li>
            </ul>
        </nav>
    </div>
</header>