<header>
    <div class="center-col">
        <nav>
            <img src="/assets/img/logo_header.png" alt="logo">
            <div id="burger">
                <span></span>
            </div>
            <ul>
                <li>
                    <a href="">ACCUEIL</a>
                </li>
                <li>
                    <a href="">MINES DE CONNAISSANCES</a>
                </li>
                <li>
                    <a href="">LEARNING MANAGMENT SYSTEM</a>
                </li>
                <li>
                    <a href="">GAMIFICATION</a>
                </li>
                <li>
                    <a href="">ILS NOUS FONT CONFIANCE</a>
                </li>
                <li>
                    <a href="">CONTACT</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
